<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Portal Atos</a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact: true}">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Aluno/Lista" [routerLinkActive]="['active']">Lista Alunos </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Aluno/Cadastro" [routerLinkActive]="['active']">Cadastro Alunos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Professor/Lista" [routerLinkActive]="['active']">Lista Professores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Professor/Cadastro" [routerLinkActive]="['active']">Cadastro
              Professores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Aulas/Lista" [routerLinkActive]="['active']">Lista
              Aulas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
