<section class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Portal Alunos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar professor</li>
        </ol>
    </nav>
    <form #form="ngForm" (ngSubmit)="submitForm(form)" method="post">
        <article>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Edição professor</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="">
                            <input type="file" class="form-control" name="foto" id="foto" ngModel>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-sm-6 form-group">
                            <input type="text" name="id" [(ngModel)]="professor.id" />
                            <label for="nome">Nome Professor:</label>
                            <input type="text" class="form-control" name="nome" id="nome" required ngModel
                                [(ngModel)]="professor.nome">
                            <span class="is-invalid" *ngIf="form.invalid">Campo Obrigatorio</span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="email">Email Professor:</label>
                            <input type="email" class="form-control" name="email" id="email" required ngModel
                                [(ngModel)]="professor.email">
                            <span class="is-invalid" *ngIf="form.invalid">Campo Obrigatorio</span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="telefone">Telefone Professor:</label>
                            <input type="text" class="form-control" name="telefone" id="telefone" ngModel
                                [(ngModel)]="professor.telefone">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="horario">Horario Professor:</label>
                            <input type="text" class="form-control" name="horario" id="horario" ngModel
                                [(ngModel)]="professor.horario">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Salvar Dados</button>
                </div>
            </div>
        </article>



    </form>

</section>
