<h3></h3>
<section class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Portal Alunos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Lista Professores</li>
    </ol>
  </nav>
  <div class="card">
    <div>
      <div class="card-header">
        <h5 class="card-title">Lista Professores</h5>
      </div>
      <div class="card-body">
        <div class="form-group mb-2">
          <input type="text" class="form-control" placeholder="Digite o Nome a Pesquisar">
        </div>
        <h3>{{getPratos}}</h3>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="visibility: hidden;">Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Horario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Prato of pratoFiltrado">
            <td>{{Prato.Descricao}}</td>
            <!-- <td>{{Prato.nome}}</td> -->
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>